@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=DM+Serif+Display&display=swap');



 
.container{
    display: flex;
    justify-content: center;
   
}

#nav_link{
    justify-content: center;
    font-weight: bold;
    
}


.logo-name{
    width: 40px;
    border-radius: 50%;
    /* margin-left: 400px; */
    margin-right: 0;
}




.nav-item a{
    color: aliceblue;
   
}

.nav-item a:active{
    color: green;
}
.nav-item a:hover{
    text-decoration: underline;
    color: #61CE70;
    
}

.icon-in{
    margin-left: 80px;
    margin-right: 10px;

}

.icon-in:hover{
    transform: scale(1.3);
}

.icon-git:hover{
    transform: scale(1.3);
}
