 @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=DM+Serif+Display&display=swap');



 
.container{
    display: flex;
    justify-content: center;
   
}

#nav_link{
    justify-content: center;
    font-weight: bold;
    
}


.logo-name{
    width: 40px;
    border-radius: 50%;
    /* margin-left: 400px; */
    margin-right: 0;
}




.nav-item a{
    color: aliceblue;
   
}

.nav-item a:active{
    color: green;
}
.nav-item a:hover{
    text-decoration: underline;
    color: #61CE70;
    
}

.icon-in{
    margin-left: 80px;
    margin-right: 10px;

}

.icon-in:hover{
    transform: scale(1.3);
}

.icon-git:hover{
    transform: scale(1.3);
}


/* parte 01: sobre mim */

#sobre_mim{
    display: flex;
    margin: auto;
    max-width: 1000px;
    margin-top: 80px

}

.title{
    font-family: 'DM Serif Display', serif;
    color: #A170F5;
    font-weight: bold;
    padding: 10px;
}
.text_sobre-mim{
    width: 600px;
    line-height: 1.5;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.my-photo{
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 65px 0px 0px 80px

}

/* Formação */

#formacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    
}

.text-formacao{
    display: flex;
    flex-direction: column;
}

.text-formacao p{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.img-estudante{
    width: 270px;
}

/* Cursos */

#cursos{
    display: flex;
    justify-content: center;
}

.text-cursos{
    display: flex;
    flex-direction: column;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.text-cursos ul{
    max-width: 650px;
}

.text-cursos span{
    font-weight: bold;
}

.img-cursos{
    width: 300px;
    height: 300px;
    margin-left: 140px;
    margin-top: 80px;
}



/* Galeria de Certificados */

div.galeria-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.508);
    position: absolute;
    top: 1200px;
    left: 0;  
    padding: 4%;
    visibility: hidden;
}

div.galeria-modal span{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: rgb(199, 85, 85);
}

div.galeria-modal img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


section{
    min-height: 70vh;
    width: 100%;
    padding-left: 252px;
    padding-right: 252px;
}

div.galeria{
    width: 100%;
    padding: 2%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30vh;
}

div.galeria div.single-galeria{
    background-color: purple;
    border-radius: 10px;
    margin: 0.5vw;
    overflow: hidden;
}

.h-2{
    grid-row: span 2;
}

.w-2{
    grid-column: span 2;
}

div.galeria div.single-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}

div.galeria div.single-galeria img:hover{
    transform: scale(1.1);
}






/* Habilidades */


.title_habilidades{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_habilidades{
    display: flex;
    justify-content: center;
}

.img-lapis{
    width: 280px;
    margin-top: 30px;
}

.img-grafico{
    width: 550px;
    margin-left: 80px;
}


/* Contatos */

.title_contatos{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.meus_contatos{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0 auto;
    
}

.icones-contatos{
    display: flex;
    align-items: center;
   

}

.icone-do-linkedin{
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.linkedin-link:hover{
    background-color: gray;
}

.icone-do-email{
    margin-left: 2px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: default;
}

.curriculo-bg{
    background-color: rgb(152, 152, 152);
    align-items: center;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
    justify-content: center;
}

.curriculo-frase{
    text-align: center;
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    align-content: center;
    padding: 10px;
    
}

.button-copy{
    border: none;
    background-color: none;
}

.button-copy:hover{
    background-color: gray;
}

.icone-meu-curriculo{
    margin-left: 120px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.icone-down-container{
    margin-left: 10px;
    margin-top: 20px;
    border: none;
   
}

.icone-down{
    width: 30px;
}

.icone-down:hover{
    background-color: gray;
}
.icones-curriculo{
    display: flex;
}

.icone-visualizar{
    margin-left: 10px;
    margin-top: 18px;
    width: 38px;
}

.icone-visualizar:hover{
    background-color: gray;
}

/* footer */

footer{
    background-image: linear-gradient( #000000, #A170F5);
    padding: 8px;
    text-align: center;
    color: #fff;
}

footer p{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 8px;
}