 @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=DM+Serif+Display&display=swap');

.container{
    display: flex;
    justify-content: center;
}

#nav_link{
    justify-content: center;
    font-weight: bold;
    
}

.logo-name{
    width: 40px;
    border-radius: 50%;
    /* margin-left: 400px; */
    margin-right: 0;
}




.nav-item a{
    color: aliceblue;
   
}

.nav-item a:active{
    color: green;
}
.nav-item a:hover{
    text-decoration: underline;
    color: #61CE70;
    
}

.icon-in{
    margin-left: 80px;
    margin-right: 10px;

}

.icon-in:hover{
    transform: scale(1.3);
}

.icon-git:hover{
    transform: scale(1.3);
}


/* parte 01: sobre mim */

#sobre_mim{
    display: flex;
    margin: auto;
    max-width: 1000px;
    margin-top: 80px

}

.title{
    font-family: 'DM Serif Display', serif;
    color: #A170F5;
    font-weight: bold;
    padding: 10px;
}
.text_sobre-mim{
    width: 600px;
    line-height: 1.5;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.my-photo{
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 65px 0px 0px 80px

}

/* Formação */

#formacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    
}

.text-formacao{
    display: flex;
    flex-direction: column;
}

.text-formacao p{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.img-estudante{
    width: 270px;
}

/* Cursos */

#cursos{
    display: flex;
    justify-content: center;
}

.text-cursos{
    display: flex;
    flex-direction: column;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.text-cursos ul{
    max-width: 650px;
}

.text-cursos span{
    font-weight: bold;
}

.img-cursos{
    width: 300px;
    height: 300px;
    margin-left: 140px;
    margin-top: 80px;
}



/* Galeria de Certificados */

div.galeria-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.508);
    position: absolute;
    top: 1200px;
    left: 0;  
    padding: 4%;
    visibility: hidden;
}

div.galeria-modal span{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: rgb(199, 85, 85);
}

div.galeria-modal img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


section{
    min-height: 100vh;
    width: 100%;
    padding-left: 252px;
    padding-right: 252px;
}

div.galeria{
    width: 100%;
    padding: 2%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30vh;
}

div.galeria div.single-galeria{
    background-color: purple;
    border-radius: 10px;
    margin: 0.5vw;
    overflow: hidden;
}

.h-2{
    grid-row: span 2;
}

.w-2{
    grid-column: span 2;
}

div.galeria div.single-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}

div.galeria div.single-galeria img:hover{
    transform: scale(1.1);
}


/* Resposividade Geleria */

@media screen and (max-width: 764px) {
    section{
        padding-left: 0px;
        padding-right: 0px;
    }
    div.galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15vh;
    }
}

